.album-wrap {
  margin: auto;
  max-width: 780px;
  padding: 0 15px;
  border: 1px solid#ddd;
  background-color: #ffffff;
}

.album-name {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 3px solid #9fdb93;
}
.image-box {
  /* background: #ffffff; */
  padding: 5px;
  height: 240px;
  /* border: 1px solid #f2f2f2; */
}
.image-cover {
  height: 200px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.image-title {
  font-size: 12px;
  text-align: center;
}
.panorama-zoom {
  /* height: 200px; */
  position: absolute;
  margin-top: -100px;
  z-index: 10;
  width: 250px;
  text-align: center;
  cursor: pointer;
}
.panorama-thumb {
  height: 200px;
  z-index: -1;
  -webkit-filter: blur(2px); filter: blur(2px);
}
.panoram-dialog {
  width: calc(100% - 100px)
}
@media screen and (max-width: 768px) {
  .mu-dialog {
    position: absolute;
    top: 20px;
    width: calc(100% - 50px);
  }
}

.photo-more {
  position: relative;
  background: #8aaf8a0c;
  text-align: center;
  color: #999999;
  font-size: 1.2rem;
  margin-top: 10px;
  display: block;
}
.photo-more-text {
  padding: 5px ;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  /* transform: translateY(-50%); */
}

.my-gallery figure {
  width: 200px;
  height: 160px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #000000;
}
.my-gallery img {
  max-height: 200px;
}
