.album-wrap {
  margin: auto;
  max-width: 780px;
  padding: 0 15px;
}

.album-name {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 3px solid #9fdb93;
}
.image-box {
  /* background: #ffffff; */
  padding: 5px;
  height: 240px;
  /* border: 1px solid #f2f2f2; */
}
.image-cover {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.image-cover img {
  width: 100%;
}

.image-cover figure {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
}
.image-title {
  font-size: 12px;
  text-align: center;
}
.panorama-zoom {
  /* height: 200px; */
  position: absolute;
  margin-top: -100px;
  z-index: 10;
  width: 250px;
  text-align: center;
  cursor: pointer;
}
.panorama-thumb {
  height: 200px;
  z-index: -1;
  -webkit-filter: blur(2px); filter: blur(2px);
}
.panoram-dialog {
  width: calc(100% - 100px)
}
@media screen and (max-width: 768px) {
  .mu-dialog {
    position: absolute;
    top: 20px;
    width: calc(100% - 50px);
  }
}

.photo-more {
  position: relative;
  background: #8aaf8a0c;
  text-align: center;
  color: #999999;
  height: 200px;
  font-size: 1.2rem;
}
.photo-more-text {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  padding: 10px;
  border: 1px solid#b2b2b2;
  border-radius: 2px;
  text-align: center;

  transform: translateY(-50%);
}
