body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  font-size: 1em;
  line-height: 1.7;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a {
  color: #000000;
}
code {
  display: inline;
  overflow: auto;
  color: #333;
  padding: 5px 12px;
  background-color: #eed;
}
pre code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background: #fefefe;
  border: 1px solid #ddd;
  white-space: pre;
}

.a-page {
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
