body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  font-size: 1em;
  line-height: 1.7;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a {
  color: #000000;
}
code {
  display: inline;
  overflow-x: auto;
  color: #333;
  background: #efefef;
  -webkit-text-size-adjust: none;
}
pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}